.header {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding: 25px 85px;
  background-color: $Very-vark-blue;
  color: $White;

  z-index: 100;
  // padding-left: 95px;
}
.menu-logo_container {
  display: flex;
}
.logo_container {
  padding-right: 45px;
  cursor: pointer;
}
.hor_menu {
  display: flex;
  gap: 20px;
}

.hor_menu_link {
  text-decoration: none; /* Quita el subrayado del enlace */
  color: inherit; /* Hereda el color del texto del elemento padre */
  font-size: inherit; /* Hereda el tamaño de fuente del elemento padre */
}
// .hor_menu_item {
//   transition: transform 0.2s ease-in-out;
// }
// .hor_menu_item:hover {
//   transform: scale(1.2);
// }
.login_button_container {
  padding: 6px 10px;
  background-color: $Orange;
  border-radius: 4px;
  cursor: pointer;
}
.login_button {
  color: $White;
  text-decoration: none;
}
.dis {
  display: none;
  width: 0;
}
.article_rigth_items {
  position: relative;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}
.lcontainer {
  position: relative;
}

.nlcarticles {
  position: absolute;
  top: -5px;
  right: -5px;
  // padding: 5px;
  color: $White;
  background-color: $Orange;
  border-radius: 4px;
  width: 15px;
  height: 12px;
  font-size: 0.7rem;
  text-align: center;
}
.loged_user_elements {
  position: relative;
  display: flex;
  flex-direction: row;
  // gap: 10px;
  transform: translateY(5px);
}
.usr_name {
  font-size: 0.8rem;
  margin-right: 10px;
}
.usr_img {
  width: 30px;
  height: 30px;
  transform: translateY(-7px);
  border-radius: 50%;
  margin-right: 10px;
}
.arrowImg {
  width: 12px;
  height: 15px;
  cursor: pointer;
  transform: rotate(90deg);
}
.google_logout_btn {
  // display: none;
  position: absolute;
  // transform: translate(-80px, 10px);
  top: 30px;
  right: 0px;
  margin: 0;
  transition: all ease-in 300ms;
  // border: none;
}
.logout_btn {
  background: $Orange;
  padding: 7px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.1rem;
  position: absolute;
  top: 30px;
  right: 0px;
  transition: all ease-in 300ms;
  cursor: pointer;
}
